<div class="pokedex-container">
  <header class="pokedex-header">
    <h1>Pokedex</h1>
    @if(selectedPokemon){
      <p  class="selected-pokemon">
        Selected Pokemon: {{selectedPokemon.name}}
      </p>
    }

  </header>

  <div class="pokemon-grid">
    @for(pokemon of pokemons; track pokemon.id) {
      <app-pokemon
        [pokemon]="pokemon"
        [isSelected]="pokemon.id === selectedPokemon?.id"
        (click)="selectPokemon(pokemon)">
      </app-pokemon>
    }
  </div>
</div>

